<!-- templates/dashboard.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('admin.static', filename='css/admin_style.css') }}">
</head>
<body>
    <div class="dashboard-container">
        <h1>Welcome to the Admin Dashboard</h1>
        <!-- Add your dashboard content here -->

        <form action="{{ url_for('admin.logout') }}" method="get">
            <button type="submit">Logout</button>
        </form>
    </div>
</body>
</html>
