<!-- dashboard.html -->

{% extends 'admin_base.html' %}

{% block title %}Admin Dashboard{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('admin.static', filename='css/dashboard_style.css') }}">
{% endblock %}

{% block content %}

    {% include 'flash_msgs.html' %}

    <div class="dashboard-container">

        <div class="admin-panel">
            <span class="large-text">Welcome</span>
            <br>
            <span class="small-text">to the</span>
            <br>
            <span class="large-text">Admin Dashboard!</span>
            <div class="btn-group">
                <form action="{{ url_for('admin.logout') }}" method="get">
                    <button class="logout-btn" type="submit">Logout</button>
                </form>
                
                <form action="{{ url_for('admin.all_admins') }}" method="get">
                    <button class="all-admins-btn" type="submit">All Admins</button>
                </form>
                
                <!-- Button for Add Admin -->
                <form action="{{ url_for('admin.add_admin') }}" method="get">
                    <button class="add-admin-btn" type="submit">Add Admin</button>
                </form>
            </div>
        </div>

        <div class="comments">
            <h2>Public Comments</h2>
            {% if comments %}
                <div class="comment-list">
                    {% for comment in comments|reverse %}
                    <span class="comment-id">Comment ID: {{ comment['id'] }}</span>
                        <div class="comment">
                            <div class="comment-header">
                                <h4>{{ comment['visitor_name'] }}</h4>
                                <span class="comment-datetime">{{ comment['created_at'] }}</span>
                            
                                <!-- Add a form for handling comment deletion -->
                                <form action="{{ url_for('admin.delete_comment', comment_id=comment.id) }}" method="post" class="delete-form">
                                    <button type="submit" class="delete-btn">Delete</button>
                                </form>
                            </div>
                            <p class="comment-text"><span class="email-text">Email:</span> {{ comment['visitor_email'] }}</p>
                            <p class="comment-text">{{ comment['comment_text'] }}</p>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <p class="no-comments-text">No comments yet!</p>
            {% endif %}
        </div>
    </div>

{% endblock %}
