<!-- dashboard.html -->

{% extends 'admin_base.html' %}

{% block title %}Admin Dashboard{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('admin.static', filename='css/dashboard_style.css') }}">
{% endblock %}

{% block content %}
    <div class="dashboard-container">

        <div class="admin-panel">
            <span class="large-text">Welcome</span>
            <br>
            <span class="small-text">to the</span>
            <br>
            <span class="large-text">Admin Dashboard!</span>
            <form action="{{ url_for('admin.logout') }}" method="get">
                <button class="logout-btn" type="submit">Logout</button>
            </form>
        </div>

        <div class="comments">
            <h2>Public Comments</h2>
            {% if comments %}
                <div class="comment-list">
                    {% for comment in comments|reverse %}
                        <div class="comment">
                            <div class="comment-header">
                                <h4>{{ comment['visitor_name'] }}</h4>
                                <span class="comment-datetime">{{ comment['datetime'] }}</span>
                                <button class="delete-btn">Delete</button>
                            </div>
                            <p class="comment-text"><span class="email-text">Email:</span> {{ comment['visitor_email'] }}</p>
                            <p class="comment-text">{{ comment['comment_text'] }}</p>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <p class="no-comments-text">No comments yet!</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
