<!-- admin_login.html -->

{% extends 'admin_base.html' %}

{% block title %}Admin Login{% endblock %}

{% block styles %}
    {{ super() }}
{% endblock %}

{% block content %}
    <form method="post" action="{{ url_for('admin.login') }}">
        <h2>Admin Login</h2>
        {% if error %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" placeholder="Enter your username" required>

        <label for="password">Password:</label>
        <input type="password" name="password" id="password" placeholder="Enter your password" required>

        <button type="submit">Login</button>
    </form>
{% endblock %}