{% extends 'admin_base.html' %}

{% block title %}Verify OTP{% endblock %}

{% block content %}
  <div class="container">
    <h2>Verify OTP</h2>
    <p>Enter the OTP sent to your email:</p>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }}">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <form method="post" action="{{ url_for('admin.verify_otp') }}">
      {{ form.csrf_token }}
      <div class="form-group">
        <label for="otp">OTP:</label>
        {{ form.otp(class="form-control", placeholder="Enter OTP", required=true) }}
      </div>
      <button type="submit" class="btn btn-primary">Verify OTP</button>
    </form>
    <a href="{{ url_for('admin.login') }}">Go Back</a>
  </div>
{% endblock %}
