/* Styles for research */

/* Additional styles for research content */
.research-content {
    /* background-color: #fff; */
    border-radius: 5px;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    /* display: flex; */
    justify-content: center;
    width: 70%;
}
/* Additional styles for research text */
.research-text {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.page-title {
    font-size: 36px;
    font-weight: bold;
    color: #001233;
    text-align: center;
}
/* Additional styles for research headings */

.research-heading {
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
    color: #001233;
    margin-bottom: 5px;
}

/* Additional styles for equations */
.equation {
    font-size: 16px;
    margin-bottom: 10px;
}
/* Styling for the reference heading */
.reference-heading {
    font-size: 20px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 15px;
    color: #001233;
}

/* Styling for the references */
.references {
    margin: 20px 0;
}

.references li {
    margin-bottom: 15px;
    padding-left: 1em;
    position: relative;
}

.references p {
    margin: 5px 0;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

/* Add a media query for screens up to 768px wide (typical for mobile devices) */
@media only screen and (max-width: 768px) {
    /* Adjustments for mobile devices */

    /* Example: Make font size smaller for better readability on smaller screens */
    body {
        font-size: 16px;
    }

    /* Example: Reduce padding and margin for better use of screen space */
    .research-content {
        padding: 13px;
        margin-top: 10px;
        width: 90%;
    }

    /* Example: Adjust font sizes for headings on mobile */
    .page-title {
        font-size: 24px;
    }
    .research-heading {
        font-size: 20px;
    }

    /* Example: Adjust font size for text content on mobile */
    .research-text {
        font-size: 14px;
    }

    /* Example: Adjust font size for references on mobile */
    .reference-heading {
        font-size: 18px;
    }
}