/* app/static/css/style.css */

/* Reset some default styles */
body, h1, h2, p, a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* Heading styles */
h1, h2, h3, h4, h5, h6 {
    color: #001233; /* Your desired heading color */
    margin-bottom: 10px;
}


/* Body background color */
body {
    background-color: #f2f2f2;
    font-size: 16px;
    line-height: 1.6;
}

img {
  display: block;
}

/* Header styles */
#header {
    background-color: #001233;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: relative; /* Add relative positioning */
}
#header h1 {
    margin: 0;
    font-size: 2.5rem;
    position: relative; /* Add relative positioning */
    overflow: hidden; /* Hide overflowing text */
}
#header p {
    margin: 10px 0;
    font-size: 1.2rem;
    color: #CAC0B3;
}

.indrajit {
    font-weight: bold;
    color: #FF595A; /* Add your desired color for "Indrajit" */
}
.ghosh {
    font-weight: normal;
    color: #CAC0B3; /* Add your desired color for "Ghosh" */
}

/* Subtitle styles */
.subtitle {
    font-size: 18px;
    margin-top: 5px;
}

/* Styling for large text */
.large-text {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
}

/* A custom class for dates */
.datestamp {
  color: #999;
  font-size: 14px;
}

/* Add a class to style the underlined link */
.underlined-link {
  text-decoration: underline;
}


/* Styling for the Nav Bar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #001233;
    color: #CAC0B3;
    /* Set height and width */
    height: 23px; /* Adjust to your preferred height */
    /* width: 100%; */
  }
  
.nav-links a {
  color: #CAC0B3;
}

/* LOGO */
.logo {
  font-size: 25px;
}

/* NAVBAR MENU */
.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
}

.menu li:hover {
  background-color: #FF595A;
  border-radius: 5px;
  transition: 0.3s ease;
}

.menu li {
  padding: 5px 14px;
}

/* DROPDOWN MENU */
.services {
  position: relative; 
}

.dropdown {
    background-color: rgb(51, 51, 110);
    padding: 1em 0;
    position: absolute;
    display: none;
    border-radius: 8px;
    top: 100%; /* Adjust this value to control the distance from the parent */
    left: 10%;
    transform: translateX(-50%); /* Center the dropdown horizontally */
    z-index: 1000; /* Ensure the dropdown is above other content */
}

.dropdown li + li {
  margin-top: 10px;
}

.dropdown li {
  padding: 0.5em 1em;
  width: 8em;
  text-align: center;
}

.dropdown li:hover {
  background-color: #FF595A;
}

.services:hover .dropdown {
  display: block;
}

/* RESPONSIVE NAVBAR MENU STARTS */

/* CHECKBOX HACK */

input[type=checkbox] {
    display: none;
} 
  
/* HAMBURGER MENU */
.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}

/* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
 .menu {
    display:none;
    position: absolute;
    background-color:#001233;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
    z-index: 1000;
  }

  .menu li:hover {
    display: inline-block;
    background-color:#FF595A;
    transition: 0.3s ease;
  }

  .menu li + li {
    margin-top: 12px;
  }

  input[type=checkbox]:checked ~ .menu {
    display: block;
  }

  .hamburger {
    display: block;
  }

  .dropdown {
    left: 10%;
    top: 100%;
    transform: translateX(-50%);
    background-color: rgb(65, 65, 117);
  }

  .dropdown li:hover {
    background-color: rgb(84, 84, 134);
  }
}

/* Styles for the "Back to top" link */
a.back-to-top {
  display: block;
  text-align: center;
  padding: 10px;
  background-color: #3498db; /* Choose a color that fits your design */
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
  transition: background-color 0.3s ease;
  width: 20%;
  margin: 0 auto;
}

a.back-to-top:hover {
  background-color: #2980b9; /* Change the background color on hover */
}


/* Additional styles for the text font */
body, h1, h2, h3, h4, h5, h6, p, a {
    font-family: "Verdana", sans-serif; /* Change to your desired font */
}


/* Content styles */
.content {
    display: flex;
    padding: 20px;
    background-color: #fff;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Profile image styles */
.profile {
    flex: 0.7;
    padding-right: 15px;
}
.profile-image {
    max-width: 100%;
    height: auto;
    border-radius: 10%; /* Make the image round */
    margin: 10px 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    transition: transform 0.3s ease-in-out; /* Add a smooth hover effect */
}
.profile-image:hover {
    transform: scale(1.05); /* Slightly enlarge the image on hover */
}

/* About Me styles */
.about-me {
    flex: 2;
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
}
.about-me h2 {
    font-size: 1.6rem;
    margin-bottom: 10px;
}
.about-me p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 10px;
}
.about-me a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s;
}
.about-me a:hover {
    color: #0056b3;
}

/* Styling for the footer */
.footer-basic {
    padding:20px 0;
    background-color:#ffffff;
    color:#4b4c4d;
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
  }
  
  .footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
    opacity:0.9;
  }
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
  }
/* New styles for last updated information */
.last-updated {
  color: #999;
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  padding: 10px;
  background-color: #f5f5f5;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-family: 'Courier New', monospace;
  width: 60%;
  /* Center the last updated information */
  margin-left: auto;
  margin-right: auto;
}

/* Styles for smaller screens */
@media screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }
  #header {
    padding: 10px;
  }
  .content {
    margin: 10px;
    padding: 10px;
  }
  .profile-image {
    max-width: 150%;
  }
  a.back-to-top {
    width: 100%;
  }

  /* Adjust the margin and font size for larger screens */
  .last-updated {
    margin-top: 30px;
    font-size: 12px;
    width: 80%;
  }
}
