<!-- 
    Functional Analysis page for the Website
    Author: Indrajit Ghosh
    Created On: Nov 14, 2023
 -->

 {% extends 'base.html' %}

 {% block title %}Functional Analysis (MMAT1), Even Sem 2021-22{% endblock %}
  
 {% block styles %}
     {{ super() }}
     <link rel="stylesheet" href="{{ url_for('static', filename='css/teaching_style.css') }}">
 {% endblock %}
 
  
 {% block content %}
    <div class="page-title">Functional Analysis (MMAT1) - Even Semester 2021-22</div>
    <div class="teaching-content">
        <b>Term:</b> Even Semester 2021-22<br>
        <b>Duration:</b> Jan 18 - Apr 28, 2022<br><br>
        <b>Course Name:</b> Functional Analysis (M. Math. I)<br>
        <b>Course Description:</b> <a href="https://www.isibang.ac.in/~adean/infsys/database/MMath/C7FA.html">Link to ISI course archives</a><br>
        <b>Instructor:</b> Soumyashant Nayak<br>
        <b>TA:</b> Indrajit Ghosh<br>
        <b>Class Schedule:</b> Tue 08:55 a.m. - 10:55 a.m., Thu 09:55 a.m. - 10:55 a.m. (Zoomlink shared over email)<br>
        <br>

        <b>Textbooks and other references</b><br>

        <ol>
            <li>W. Rudin, <i>Real and Complex Analysis</i>, (Chapters 1-3, 6).</li>
            <li>R. Kadison and J. Ringrose, <i>Fundamentals of the Theory of Operator Algebras : Vol. I - Elementary Theory</i>, (Chapters 1-2).</li>
            <li>J. Dieudonné, <i>History of Functional Analysis</i>, (General reference for understanding the origin of various ideas in functional analysis.)</li>
        </ol>
        <br>

        <h3>Assignments</h3>
        <ul>
            <li>
                <a href="{{ url_for('static', filename='courses/isibc/func_ana_mmat1_2022/Assignment_1_FuncAnalysis_Mmat1_2022.pdf') }}" target="_blank" class="underlined-link">
                    Assignment 1
                </a> (Due on: 
                <span class="datestamp"> Feb 14, 2022</span>)
            </li>

            <li>
                <a href="{{ url_for('static', filename='courses/isibc/func_ana_mmat1_2022/Assignment_2_FuncAnalysis_Mmat1_2022.pdf') }}" target="_blank" class="underlined-link">
                    Assignment 2
                </a> (Due on: 
                <span class="datestamp"> Feb 25, 2022</span>)
            </li>

            <li>
                <a href="{{ url_for('static', filename='courses/isibc/func_ana_mmat1_2022/Assignment_3_FuncAnalysis_Mmat1_2022.pdf') }}" target="_blank" class="underlined-link">
                    Assignment 3
                </a> (Due on: 
                <span class="datestamp"> Mar 06, 2022</span>)
            </li>
            
            <li>
                <a href="{{ url_for('static', filename='courses/isibc/func_ana_mmat1_2022/Assignment_4_FuncAnalysis_Mmat1_2022.pdf') }}" target="_blank" class="underlined-link">
                    Assignment 4
                </a> (Due on: 
                <span class="datestamp"> Mar 24, 2022</span>)
            </li>

            <li>
                <a href="{{ url_for('static', filename='courses/isibc/func_ana_mmat1_2022/Assignment_5_FuncAnalysis_Mmat1_2022.pdf') }}" target="_blank" class="underlined-link">
                    Assignment 5
                </a> (Due on: 
                <span class="datestamp"> Mar 31, 2022</span>)
            </li>

            <li>
                <a href="{{ url_for('static', filename='courses/isibc/func_ana_mmat1_2022/Assignment_6_FuncAnalysis_Mmat1_2022.pdf') }}" target="_blank" class="underlined-link">
                    Assignment 6
                </a> (Due on: 
                <span class="datestamp"> Apr 22, 2022</span>)
            </li>

            <li>
                <a href="{{ url_for('static', filename='courses/isibc/func_ana_mmat1_2022/Assignment_7_FuncAnalysis_Mmat1_2022.pdf') }}" target="_blank" class="underlined-link">
                    Assignment 7
                </a> (Due on: 
                <span class="datestamp"> May 05, 2022</span>)
            </li>
        </ul>
    </div>

<!-- Add last updated information -->
<p class="last-updated">Last Updated: Dec 10, 2023</p>

 {% endblock %}
  
 