
{% extends 'base.html' %}

{% block title %}Analysis of Several Variables (BMAT2), Odd Sem 2023{% endblock %}
  
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/teaching_style.css') }}">
{% endblock %}
 
  
{% block content %}

<div class="content">
    <div class="teaching-content">
        <h2>Introduction To Completely Positive Maps, Even Sem 2024</h2>
        <b>Term:</b> Even Semester 2024<br>
        <b>Duration:</b> Jan 2024 - TBA<br><br>
        <b>Course Name:</b> Introduction To Completely Positive Maps (RF/VS)<br>
        <b>Course Overview:</b>
        <p>
            The lecture series is designed for both non-experts and seasoned researchers in the field. This course is crafted as an introduction to the fundamental concepts and theories encapsulated in the first seven chapters of the seminal work by Vern Paulsen, "Completely Bounded Maps and Operator Algebras.
        </p>
        <br>
        <b>Instructors:</b>  Indrajit Ghosh (SRF), Gahin Maity (JRF) and Soumyashant Nayak (Asst. Prof.)<br>
        <b>Lecture Timings:</b> TBA<br>
        <b>Room:</b> TBA<br>
        <br>

        <h3>References.</h3>

        <ul>
            <li>Vern Paulsen, <i>Completely Bounded Maps and Operator Algebras.</i></li>
            <li>Michael A. Nielsen and Isaac L. Chuang, <i><a href="https://profmcruz.files.wordpress.com/2017/08/quantum-computation-and-quantum-information-nielsen-chuang.pdf" target="_blank">Quantum Computation and Quantum Information.</a></i></li>
            <li>John Watrous, <i>The Theory of Quantum Information.</i></li>
        </ul>
        <br>
    </div>
</div>



{% endblock %}