<!-- 
    Teaching page for the Website
    Author: Indrajit Ghosh
    Created On: Nov 14, 2023
 -->
{% extends 'base.html' %}

{% block title %}Indrajit Ghosh - Teaching{% endblock %}

{% block meta_tags %}
  {{ super() }}
  <meta name="keywords" content="smu, indrajit ghosh, teaching, mathematics, bmath, mmath, ISI Bangalore">
{% endblock %}

  
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('teaching.static', filename='css/teaching_style.css') }}">
{% endblock %}
 
{% block content %}

<div class="teaching-container">
  <h2 class="teaching-heading">Courses</h2>

  <article class="course">
    <div class="course__number">02</div>
    <div class="course__content">
      <div class="course-title">Workshop on Completely Positive Maps</div>
      <div class="course-details">
        <p class="course-info">Lecturers: Indrajit Ghosh, Gahin Maity and Soumyashant Nayak</p>
        <p class="course-info">Duration: Jan 2024 - Apr 2024</p>
        <a class="course-link" href="{{ url_for('teaching.intro_to_cp_even_2024') }}">Course Webpage</a>
      </div>
    </div>
  </article>

  <article class="course">
    <div class="course__number">01</div>
    <div class="course__content">
      <div class="course-title">A Course in Harmonic Analysis (BMAT3)</div>
      <div class="course-details">
        <p class="course-info">Instructors: Soumyashant Nayak and Indrajit Ghosh</p>
        <p class="course-info">Duration: Jan 2024 - TBA</p>
        <a class="course-link" href="{{ url_for('teaching.course_harmonic_even2024') }}">Course Webpage</a>
      </div>
    </div>
  </article>
</div>

<div class="teaching-container">
  <h2 class="teaching-heading">Teaching Assistantship at ISI</h2>
  
  <article class="course">
    <div class="course__number">04</div>
    <div class="course__content">
      <div class="course-title">Analysis of Several Variables (BMAT2)</div>
      <div class="course-details">
        <p class="course-info">Instructor: Mathew Joseph</p>
        <p class="course-info">TA: Indrajit Ghosh</p>
        <p class="course-info">Duration: Aug 01 - Nov 25, 2023</p>
        <a class="course-link" href="{{ url_for('teaching.anal_several_vars_odd_2023_ta') }}">Course Webpage</a>
      </div>
    </div>
  </article>
  
  <article class="course">
      <div class="course__number">03</div>
      <div class="course__content">
        <div class="course-title">Complex Analysis I (BMAT3)</div>
        <div class="course-details">
          <p class="course-info">Instructor: Mathew Joseph</p>
          <p class="course-info">TA: Indrajit Ghosh</p>
          <p class="course-info">Duration: Aug 2022 - Nov 2022</p>
          <a class="course-link" href="{{ url_for('teaching.comp_anal_odd_sem_2022_ta') }}">Course Webpage</a>
        </div>
      </div>
  </article>

  <article class="course">
      <div class="course__number">02</div>
      <div class="course__content">
        <div class="course-title">Functional Analysis (MMAT1)</div>
        <div class="course-details">
          <p class="course-info">Instructor: Soumyashant Nayak</p>
          <p class="course-info">TA: Indrajit Ghosh</p>
          <p class="course-info">Duration: Jan 18 - Apr 28, 2022</p>
          <a class="course-link" href="{{ url_for('teaching.func_anal_even_sem_2021_ta') }}">Course Webpage</a>
        </div>
      </div>
  </article>

  <article class="course">
      <div class="course__number">01</div>
      <div class="course__content">
        <div class="course-title">Optimization (BMAT2)</div>
        <div class="course-details">
          <p class="course-info">Instructor: Soumyashant Nayak</p>
          <p class="course-info">TA: Indrajit Ghosh</p>
          <p class="course-info">Duration: Sep 21 - Dec 23, 2021</p>
          <a class="course-link" href="{{ url_for('teaching.optimization_odd_sem_2021_ta') }}">Course Webpage</a>
        </div>
      </div>
  </article>

</div>
 
{% endblock %}
 