<!-- Exam Resources Archive -->

<div class="exam-container" id="exam-archive">
    <h2 class="center">Past Years Entrance Question Papers</h2>
    <p class="center">
        Interested in contributing? Feel free to reach out by 
        <a href="{{ url_for('contact') }}">emailing me </a> with the papers you have!
    </p>
    
    <br>
    <article class="exam-entry">
        <div class="title">Indian Statistical Institute (ISI)</div>
        <div class="exam-papers">
            <div class="paper-group">
                <span class="paper-year"><strong>2020</strong></span>
                <a class="paper-link" href="https://drive.google.com/file/d/1rjaHl6N1Z3ghA6BsNm8Bxky6wr8Bu7J_/view?usp=drive_link" target="_blank">MTA</a>
                <a class="paper-link" href="https://drive.google.com/file/d/1Ls_BGpkGO2zenW3KbZz7za0Vgf7pRud4/view?usp=drive_link" target="_blank">MTB</a>
            </div>
        
            <div class="paper-group">
                <span class="paper-year"><strong>2017</strong></span>
                <a class="paper-link" href="https://drive.google.com/file/d/1Dxkzlq9C2CGPf3_g1KARjT8JOo8TE3Xu/view?usp=drive_link" target="_blank">MTA</a>
                <a class="paper-link" href="https://drive.google.com/file/d/1-VqgEeN7hSpomxpVhjhnwr_2lehHcgZV/view?usp=drive_link" target="_blank">MTB</a>
            </div>
        
            <div class="paper-group">
                <span class="paper-year"><strong>2016</strong></span>
                <a class="paper-link" href="https://drive.google.com/file/d/10qbNDEJgOD0HtSRneDxrb4-X9pKmiufU/view?usp=drive_link" target="_blank">MTA</a>
                <a class="paper-link" href="https://drive.google.com/file/d/1yeldear6zLzNvR2G3ZukdUVeIic7eQzK/view?usp=drive_link" target="_blank">MTB</a>
            </div>

            <div class="paper-group">
                <span class="paper-year"><strong>2015</strong></span>
                <a class="paper-link" href="https://drive.google.com/file/d/1N_pxV4Q6Z9s6bhiMNWWqvq8l7UUt64Kj/view?usp=drive_link" target="_blank">MTA</a>
                <a class="paper-link" href="https://drive.google.com/file/d/1gW9VP4-pkkhym5YAcfX5sLiI2mTGNz6W/view?usp=drive_link" target="_blank">MTB</a>
            </div>

            <div class="paper-group">
                <span class="paper-year"><strong>2014</strong></span>
                <a class="paper-link" href="https://drive.google.com/file/d/1SUfo4Svclmn58UWrPw1ohzMbzXQtfQ-W/view?usp=drive_link" target="_blank">MTA</a>
                <a class="paper-link" href="https://drive.google.com/file/d/1sd30oiT6-7mOUULV0UwqK0YQke-jtdqt/view?usp=drive_link" target="_blank">MTB</a>
            </div>
        </div>
    </article>

    <article class="exam-entry">
        <div class="title">National Board for Higher Mathematics (NBHM)</div>
        <div class="exam-papers">
            <div class="paper-group">
                <span class="paper-year"><strong>2019</strong></span>
                <a class="paper-link" href="https://drive.google.com/file/d/1kUxyLY3wemhDzTXvNZ9TUyFDXUfFe5aO/view?usp=drive_link" target="_blank">Paper</a>
                <a class="key-link" href="https://drive.google.com/file/d/1qHr8kfE5p_H6Cf9_LqXVQQT9J3ggLVi5/view?usp=drive_link" target="_blank">Ans Key</a>
            </div>

            <div class="paper-group">
                <span class="paper-year"><strong>2018</strong></span>
                <a class="paper-link" href="https://drive.google.com/file/d/101bSE9S1szjnUztPtrYavop9Gu1w3B8g/view?usp=drive_link" target="_blank">Paper</a>
                <a class="key-link" href="https://drive.google.com/file/d/1VrKvelxYpdSmtnFcGSEGiNhy1uFHNPcv/view?usp=drive_link" target="_blank">Ans Key</a>
            </div>

            <div class="paper-group">
                <span class="paper-year"><strong>2017</strong></span>
                <a class="paper-link" href="https://drive.google.com/file/d/1ZnZwFH27JCTuMB4tVq6CgBqnVxI14SoG/view?usp=drive_link" target="_blank">Paper</a>
                <a class="key-link" href="https://drive.google.com/file/d/1Lm7o5UWDrr741vjmIy_PcQmqcAiGmOx3/view?usp=drive_link" target="_blank">Ans Key</a>
            </div>

            <div class="paper-group">
                <span class="paper-year"><strong>2016</strong></span>
                <a class="paper-link" href="https://drive.google.com/file/d/1nOrkK5pWDYOVQ4avFX1iBxooJteuVEqF/view?usp=drive_link" target="_blank">Paper</a>
                <a class="key-link" href="https://drive.google.com/file/d/1HeRj-it7nXkQwHbvV64SKoebEoyS-mdL/view?usp=drive_link" target="_blank">Ans Key</a>
            </div>

            <div class="paper-group">
                <span class="paper-year"><strong>2015</strong></span>
                <a class="paper-link" href="https://drive.google.com/file/d/1s1bIpzmyk2Zx7ah2AYDlvvMvv8Y0OOmU/view?usp=drive_link" target="_blank">Paper</a>
                <a class="key-link" href="https://drive.google.com/file/d/1T4jvVKRBjrgdavzbkLDQb4im8UzEk88I/view?usp=drive_link" target="_blank">Ans Key</a>
            </div>

            <div class="paper-group">
                <span class="paper-year"><strong>2014</strong></span>
                <a class="paper-link" href="https://drive.google.com/file/d/1Dxxiv0owdxUOe-uamn_cIidKqM34_ypl/view?usp=drive_link" target="_blank">Paper</a>
                <a class="key-link" href="https://drive.google.com/file/d/1oAKEAOk1YGdRF7UPPREqh3DiH8mKktSG/view?usp=drive_link" target="_blank">Ans Key</a>
            </div>

            <div class="paper-group">
                <span class="paper-year"><strong>2013</strong></span>
                <a class="paper-link" href="https://drive.google.com/file/d/1hLaIeN8g7MqDs4pV_2M80l4XMa1F9OPM/view?usp=drive_link" target="_blank">Paper</a>
                <a class="key-link" href="https://drive.google.com/file/d/1mawe5fMljJ5HCn4MPpkstgpeXnjAJg_b/view?usp=drive_link" target="_blank">Ans Key</a>
            </div>
        </div>

    </article>

    <article class="exam-entry">
        <div class="title">National Eligibility Test (NET)</div>
        <div class="exam-papers">
            <div class="paper-group">
                <span class="paper-year"><strong>2018</strong></span>
                <a class="paper-link" href="https://drive.google.com/file/d/1x_grvzR1KziMUiYs-eqkCUGaHmN9bS9W/view?usp=drive_link" target="_blank">Jun</a>
                <a class="key-link" href="https://drive.google.com/file/d/1uJpW0wn0lVs0BsbpjJBDstTOsM6k-wa0/view?usp=drive_link" target="_blank">Key</a>
                <a class="paper-link" href="https://drive.google.com/file/d/1znBh3ceBXOTba15jBDTbtBOI-8uQRYce/view?usp=drive_link" target="_blank">Dec</a>
                <a class="key-link" href="https://drive.google.com/file/d/1hVJGZOQiZidJOWBcbldqKcTonhMf9dij/view?usp=drive_link" target="_blank">Key</a>
            </div>

            <div class="paper-group">
                <span class="paper-year"><strong>2017</strong></span>
                <a class="paper-link" href="https://drive.google.com/file/d/1jtkEF-Lv9NfedOkz-8EFQcBFfmK_2-IW/view?usp=drive_link" target="_blank">Jun</a>
                <a class="key-link" href="https://drive.google.com/file/d/1EbaPv_RF3m8vgKet6CKRaAMuCfB6l99X/view?usp=drive_link" target="_blank">Key</a>
                <a class="paper-link" href="https://drive.google.com/file/d/1xmZfQp6ohaFJHutYqp8IFYs5PcZ66B-u/view?usp=drive_link" target="_blank">Dec</a>
                <a class="key-link" href="https://drive.google.com/file/d/1IOSszBkPA4hoQAY17-Z7H-Nj45YV7M22/view?usp=drive_link" target="_blank">Key</a>
            </div>

            <div class="paper-group">
                <span class="paper-year"><strong>2016</strong></span>
                <a class="paper-link" href="https://drive.google.com/file/d/1cDwIBS9--DPuf66i775JDEtNhCE2c6Vi/view?usp=drive_link" target="_blank">Jun</a>
                <a class="key-link" href="https://drive.google.com/file/d/1YDe39PUSbKFaz8Z7iaUZyemXICkx0Ytq/view?usp=drive_link" target="_blank">Key</a>
                <a class="paper-link" href="https://drive.google.com/file/d/1jETPMmLmIDTkcOlO1fJMvpwkSuT2xfcu/view?usp=drive_link" target="_blank">Dec</a>
                <a class="key-link" href="https://drive.google.com/file/d/1XiRsj9ym6s9dBRInrljwGByAfhC7C4jW/view?usp=drive_link" target="_blank">Key</a>
            </div>

            <div class="paper-group">
                <span class="paper-year"><strong>2015</strong></span>
                <a class="paper-link" href="https://drive.google.com/file/d/1coJh3CEiAgx4N1qnGBEguP1ogSpvywuW/view?usp=drive_link" target="_blank">Jun</a>
                <a class="key-link" href="https://drive.google.com/file/d/1DtPfGzeTduwWWJFMjFHoIUY5sBgSNQw-/view?usp=drive_link" target="_blank">Key</a>
                <a class="paper-link" href="https://drive.google.com/file/d/1hYxNhBHWf6z_d5dNw8c7HrypnKpWELuw/view?usp=drive_link" target="_blank">Dec</a>
                <a class="key-link" href="https://drive.google.com/file/d/12e387iOUX9wMM-nKJsUbTE_9BhfvA5nE/view?usp=drive_link" target="_blank">Key</a>
            </div>

            <div class="paper-group">
                <span class="paper-year"><strong>2014</strong></span>
                <a class="paper-link" href="https://drive.google.com/drive/folders/1elqAjf6fz2TUFpbuikt5QR2clwIbtBmK?usp=drive_link" target="_blank">Jun</a>
                <a class="key-link" href="https://drive.google.com/file/d/1umE6GBNyoknEVrtnmTZE-E_l9Ja6B6Cd/view?usp=drive_link" target="_blank">Key</a>
                <a class="paper-link" href="https://drive.google.com/file/d/1k8Io6qrS4XaKFuokUQxD4NsH2iyiotX7/view?usp=drive_link" target="_blank">Dec</a>
                <a class="key-link" href="https://drive.google.com/file/d/1SG_az-dY0F3mSIcbxpNe5kBvKsqEhc30/view?usp=drive_link" target="_blank">Key</a>
            </div>

            <div class="paper-group">
                <span class="paper-year"><strong>2013</strong></span>
                <a class="paper-link" href="https://drive.google.com/file/d/1EIQv3IY8sPk7nE5WZTvxQhveryoUc2SK/view?usp=drive_link" target="_blank">Jun</a>
                <a class="key-link" href="https://drive.google.com/file/d/1q3eVJx6YnzGU74Si7wsBtVt8FZOSRx73/view?usp=drive_link" target="_blank">Key</a>
                <a class="paper-link" href="https://drive.google.com/drive/folders/1XkqzCna94nTo_0usp-STA8tFLtA251Ji?usp=drive_link" target="_blank">Dec</a>
                <a class="key-link" href="https://drive.google.com/file/d/1NWtSOquHjyUbnMEXQr7L6KqNMyH1F-LV/view?usp=drive_link" target="_blank">Key</a>
            </div>

            <div class="paper-group">
                <span class="paper-year"><strong>2012</strong></span>
                <a class="paper-link" href="https://drive.google.com/drive/folders/1WIN7C9kvvgTKWgHgEPaz5H9X14F1ko7Z?usp=drive_link" target="_blank">Jun</a>
                <a class="key-link" href="{{ url_for('errors.page_not_found_route') }}" target="_blank">Key</a>
                <a class="paper-link" href="https://drive.google.com/file/d/1k8Io6qrS4XaKFuokUQxD4NsH2iyiotX7/view?usp=drive_link" target="_blank">Dec</a>
                <a class="key-link" href="{{ url_for('errors.page_not_found_route') }}" target="_blank">Key</a>
            </div>
        </div>
    </article>

    <article class="exam-entry">
        <div class="title">Tata Institute of Fundamental Research (TIFR)</div>
        <div class="exam-papers">

            <div class="paper-group">
                <span class="paper-year"><strong>2018</strong></span>
                <a class="paper-link" href="https://drive.google.com/file/d/11_xRBl22UgFaAkM0KirLdLj6lWnW1Skl/view?usp=drive_link" target="_blank">Paper</a>
            </div>

            <div class="paper-group">
                <span class="paper-year"><strong>2017</strong></span>
                <a class="paper-link" href="https://drive.google.com/file/d/1uGhvheOO_yeMxVPXYQtVgb1E353Bxv9K/view?usp=drive_link" target="_blank">Paper</a>
            
                <span class="paper-year"><strong>2016</strong></span>
                <a class="paper-link" href="https://drive.google.com/file/d/1xf3A576NopMzLnFQBaeUgJ6v_PrJ7iwt/view?usp=drive_link" target="_blank">Paper</a>
            </div>

            <div class="paper-group">
                <span class="paper-year"><strong>2015</strong></span>
                <a class="paper-link" href="https://drive.google.com/file/d/1aTQ0yimOLWkAZThW6nKx4GMZmLzaPygI/view?usp=drive_link" target="_blank">Paper</a>
                
                <span class="paper-year"><strong>2014</strong></span>
                <a class="paper-link" href="https://drive.google.com/file/d/1oH6etkdwbt8FckFotwgGy2upqeNoBwWI/view?usp=drive_link" target="_blank">Paper</a>
            </div>
            
            <div class="paper-group">
                <span class="paper-year"><strong>2013</strong></span>
                <a class="paper-link" href="https://drive.google.com/file/d/1jvMG_5ZmqhxPcx7aocag1tT2jcj1VKOq/view?usp=drive_link" target="_blank">Paper</a>
                
                <span class="paper-year"><strong>2012</strong></span>
                <a class="paper-link" href="https://drive.google.com/file/d/1tQLcxz6HpbJgH1fN6q-J5Q8hOtcR3Mrz/view?usp=drive_link" target="_blank">Paper</a>
            </div>

            <div class="paper-group">
                <span class="paper-year"><strong>2011</strong></span>
                <a class="paper-link" href="https://drive.google.com/file/d/1tIKPNr1BCS8DlPrDpHwJf7akCCwzOlPm/view?usp=drive_link" target="_blank">Paper</a>
                
                <span class="paper-year"><strong>2010</strong></span>
                <a class="paper-link" href="https://drive.google.com/file/d/119_40NH66ZR4a-ldUjxNawy80Ujkl_Gl/view?usp=drive_link" target="_blank">Paper</a>
            </div>

        </div>

    </article>

    <article class="exam-entry">
        <div class="title">Graduate Aptitude Test in Engineering (GATE)</div>
        <div class="exam-papers">
            <div class="paper-group">
                <span class="paper-year"><strong>2019</strong></span>
                <a class="paper-link" href="https://drive.google.com/file/d/1lqf6cRh9G7LhC7YfJMpnl7-X2D-qgDwZ/view?usp=drive_link" target="_blank">Paper</a>
                <a class="key-link" href="https://drive.google.com/file/d/1LuSvJrVo2aCsv9ApA5LR1KcfK0V_r-jX/view?usp=drive_link" target="_blank">Ans Key</a>
            </div>

            <div class="paper-group">
                <span class="paper-year"><strong>2018</strong></span>
                <a class="paper-link" href="https://drive.google.com/file/d/19girr1D5PYIkmtyc4ovbRbT5Zg5vSEQF/view?usp=drive_link" target="_blank">Paper</a>
                <a class="key-link" href="https://drive.google.com/file/d/1z35HylWKfV5Li7pTtTOJ8AeOWz88gwO_/view?usp=drive_link" target="_blank">Ans Key</a>
            </div>

            <div class="paper-group">
                <span class="paper-year"><strong>2017</strong></span>
                <a class="paper-link" href="https://drive.google.com/file/d/1vwQ1RkAC_uzQFb7BIcVuo9Y4eD6n-RY5/view?usp=drive_link" target="_blank">Paper</a>
                <a class="key-link" href="https://drive.google.com/file/d/1r60DwFYYQwbRNmZC0voIpCFoF6da-VjG/view?usp=drive_link" target="_blank">Ans Key</a>
            </div>

            <div class="paper-group">
                <span class="paper-year"><strong>2016</strong></span>
                <a class="paper-link" href="https://drive.google.com/file/d/1LNJCxWiGEszmFrf4zKTiRmgE754nmzmy/view?usp=drive_link" target="_blank">Paper</a>
                <a class="key-link" href="https://drive.google.com/file/d/1lAUija6QVvHpk8ILe-nS5l2PnSpD5uoX/view?usp=drive_link" target="_blank">Ans Key</a>
            </div>

            <div class="paper-group">
                <span class="paper-year"><strong>2015</strong></span>
                <a class="paper-link" href="https://drive.google.com/file/d/1WUn63DVjTvYhThUWROMWiA6v-vGXghDZ/view?usp=drive_link" target="_blank">Paper</a>
                <a class="key-link" href="{{ url_for('errors.page_not_found_route') }}" target="_blank">Ans Key</a>
            </div>

            <div class="paper-group">
                <span class="paper-year"><strong>2014</strong></span>
                <a class="paper-link" href="https://drive.google.com/file/d/1OrFAB8D0JdIobwA-L9eFxSoWHt6Zq7TX/view?usp=drive_link" target="_blank">Paper</a>
                <a class="key-link" href="{{ url_for('errors.page_not_found_route') }}" target="_blank">Ans Key</a>
            </div>
        </div>

    </article>

</div>