/* static/css/admin_dashboard_style.css */

body {
    font-family: 'Arial', sans-serif;
}

form {
    margin-top: 20px;
}

button {
    background-color: #dc3545;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #c82333;
}
