<!DOCTYPE html>
<html>
<head>
    <title>Complex Analysis I (BMAT3), Odd Sem 2022-23</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>

    {% include '_header.html' %}

<div id="content">
    <div class="course-details">
        <h2>Complex Analysis I (BMAT3), Odd Sem 2022-23</h2>
        <b>Term:</b> Odd Semester 2022-23<br>
        <b>Duration:</b> Aug 2022 - Nov 2022<br><br>
        <b>Course Name:</b> Complex Analysis (B. Math. III)<br>
        <b>Course Description:</b> <a href="https://www.isibang.ac.in/~adean/infsys/database/Bmath/CA.html">Link to ISI course archives</a><br>
        <b>Instructor:</b>  Mathew Joseph<br>
        <b>TA:</b> Indrajit Ghosh<br>
        <br>

        <b>Textbooks and other references</b><br>

        <ul>
            <li>T. W. Gamelin, <i>Complex Analysis.</i></li>
            <li>D. Sarason, <i>Notes on Complex Function Theory.</i></li>
            <li>J. B. Conway, <i>Functions of one complex Variable</i>.</li>
        </ul>
        <br>
    </div>
</div>

    {% include '_footer.html' %}

</body>
</html>
