<!DOCTYPE html>
<html>
<head>
    <title>Functional Analysis (MMAT1), Even Sem 2021-22</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>


<div id="content">
    <div class="course-details">
        <h1>Functional Analysis (MMAT1) - Even Semester 2021-22</h1>
        <b>Term:</b> Even Semester 2021-22<br>
        <b>Duration:</b> Jan 18 - Apr 28, 2022<br><br>
        <b>Course Name:</b> Functional Analysis (M. Math. I)<br>
        <b>Course Description:</b> <a href="https://www.isibang.ac.in/~adean/infsys/database/MMath/C7FA.html">Link to ISI course archives</a><br>
        <b>Instructor:</b> Soumyashant Nayak<br>
        <b>TA:</b> Indrajit Ghosh<br>
        <b>Class Schedule:</b> Tue 08:55 a.m. - 10:55 a.m., Thu 09:55 a.m. - 10:55 a.m. (Zoomlink shared over email)<br>
        <br>

        <b>Textbooks and other references</b><br>

        <ul>
            <li>W. Rudin, <i>Real and Complex Analysis</i>, (Chapters 1-3, 6).</li>
            <li>R. Kadison and J. Ringrose, <i>Fundamentals of the Theory of Operator Algebras : Vol. I - Elementary Theory</i>, (Chapters 1-2).</li>
            <li>J. Dieudonné<i>History of Functional Analysis</i>, (General reference for understanding the origin of various ideas in functional analysis.)</li>
        </ul>
        <br>
    </div>
</div>


</body>
</html>
