<!DOCTYPE html>
<html>
<head>
    <title>Optimization (BMAT2), Odd Sem 2021</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js"></script>
</head>
<body>

    {% include '_header.html' %}

<div id="content">
    <div class="course-details">
        <h2>Optimization (BMAT2) - Odd Semester 2021</h2>
        <b>Term:</b> Odd Semester 2021<br>
        <b>Duration:</b> Sept 21 - Dec 23, 2021<br><br>
        <b>Course Name:</b> Optimization (B. Math. II)<br>
        <b>Course Description:</b> <a href="https://www.isibang.ac.in/~adean/infsys/database/Bmath/Opti.html">Link to ISI course archives</a><br>
        <b>Instructor:</b> Soumyashant Nayak<br>
        <b>TA:</b> Indrajit Ghosh (Office: S6)<br>
        <b>Class Schedule:</b> Tue 08:55 a.m. - 10:55 a.m., Thu 08:55 a.m. - 09:55 a.m. (Zoomlink shared over email)<br>
        <br>

        <b>Textbooks:</b><br>

        <ul>
            <li>S. Boyd, L. Vandenberghe, <i><a href="https://web.stanford.edu/~boyd/cvxbook/bv_cvxbook.pdf">Convex Optimization.</a></i></li>
            <li>H. Karloff, <i>Linear Programming</i></li>
            <li>M. J. Kochenderfer and Tim A. Wheeler, <i>Algorithms for Optimization</i></li>
            <li>R. Schneider, <i>Convex bodies: the Brunn-Minkowski theory</i>, (Chapter 1)</li>
        </ul>
        <br>
    </div>
</div>

    {% include '_footer.html' %}

</body>
</html>
