<div id="footer">
    <p>&copy; 2023 Indrajit Ghosh. All rights reserved.</p>
    <p>Contact: indrajitghosh912@gmail.com</p>
    <p>Follow me on:
        <a href="https://github.com/indrajit912" target="_blank"><i class="fab fa-github"></i></a> |
        <a href="https://fb.com/indrajitghosh912" target="_blank"><i class="fab fa-facebook"></i></a> |
        <a href="https://twitter.com/Meself_Indrajit" target="_blank"><i class="fab fa-twitter"></i></a> |
        <a href="https://instagram.com/indrajitghosh912" target="_blank"><i class="fab fa-instagram"></i></a> 
    </p>
</div>
