<!-- app/templates/_navbar.html -->

<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>

  <body>

    <nav class="navbar">
      <!-- LOGO -->
      <div class="logo">Menu</div>
    
      <!-- NAVIGATION MENU -->
      <ul class="nav-links">
        <!-- USING CHECKBOX HACK -->
        <input type="checkbox" id="checkbox_toggle" />
        <label for="checkbox_toggle" class="hamburger">&#9776;</label>
    
        <!-- NAVIGATION MENUS -->
        <div class="menu">
            
          <li><a href="/">Home</a></li>
          <li><a href="{{ url_for('teaching.index') }}">Teaching</a></li>
          <li><a href="{{ url_for('research') }}">Research</a></li>
          <li><a href="{{ url_for('cv') }}" target="_blank">CV</a></li>
          <li><a href="{{ url_for('misc') }}">Miscellaneous</a></li>
          <li><a href="{{ url_for('photos') }}">Photos</a></li>
          <li><a href="{{ url_for('timeline') }}">Timeline</a></li>
          <li><a href="{{ url_for('contact') }}">Contact</a></li>
          <li><a href="{{ url_for('comments.index') }}">Comments</a></li>
    
          <!-- DROPDOWN MENU -->
          <!-- <li class="services">
            <a href="/">Others</a>
            <ul class="dropdown">
              <li><a href="/blog" class="top-link">Blog</a></li>
              <li><a href="/coming_soon">Podcast</a></li>
              <li><a href="/coming_soon">Youtube</a></li>
            </ul>
          </li> -->
    
        </div>
      </ul>
    </nav>

  </body>
</html>
