<!-- app/templates/_navbar.html -->

<div class="top-bar" id="top-bar">
    <div class="links" id="nav-links">
        <a href="/" class="top-link">Home</a>
        <a href="/teaching" class="top-link">Teaching</a>
        <a href="/research" class="top-link">Research</a>
        <a href="/cv" class="top-link" target="_blank">CV</a>
        <a href="/timeline" class="top-link">Timeline</a>
        <a href="/photos" class="top-link">Photos</a>
    </div>
    <div class="mobile-toggle" id="mobile-toggle">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>
</div>

<!-- Include the expanded mobile menu overlay -->
<div id="overlay" class="overlay"></div>

<!-- Mobile menu toggle script -->
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const toggleButton = document.getElementById("mobile-toggle");
        const overlay = document.getElementById("overlay");

        toggleButton.addEventListener("click", function () {
            document.getElementById("top-bar").classList.toggle("show");
            overlay.classList.toggle("show-overlay"); // Toggle the overlay
        });
    });
</script>