<!-- app/templates/_navbar.html -->

<div class="top-bar" id="top-bar">
    <div class="mobile-toggle" id="mobile-toggle">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>
    <div class="links" id="nav-links">
        <a href="/" class="top-link">Home</a>
        <a href="/teaching" class="top-link">Teaching</a>
        <a href="/research" class="top-link">Research</a>
        <a href="/timeline" class="top-link">Timeline</a>
        <a href="/photos" class="top-link">Photos</a>
    </div>
</div>
