<p>
    Greetings! I am honored to introduce myself as a Senior Research Fellow in the 
    Theoretical Statistics and Mathematics Unit (SMU) at the Indian Statistical Institute, 
    Bangalore Centre. My area of interest lies broadly in the domain of Operator Algebra, with 
    a pronounced focus on von-Neumann algebras, Type \(II_1\) factors, and \(C^*\)-algebras.
</p>
<p>
    Currently, I have the privilege of being guided by the esteemed 
    <a href="https://www.isibang.ac.in/~soumyashant/" target="_blank">Dr. Soumyashant Nayak</a>
    on this rewarding journey.
</p>