<!-- app/templates/blog.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/blog_style.css') }}">
    <title>Blog</title>
</head>
<body>
    <header>
        {% include '_header.html' %}
    </header>
    <div class="blog-list">

        <article class="blog-item">
            <h2><a href="/blog_posts/blog_post1.html" target="_blank">Blog Post 1</a></h2>
            <p class="date-time">Published on August 15, 2023</p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Some Garbage dolor sit amet elit...
            </p>
        </article>
        
        <article class="blog-item">
            <h2><a href="/blog_posts/blog_post2.html" target="_blank">Another Blog</a></h2>
            <p class="date-time">Published on July 15, 2023</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
        </article>

        <article class="blog-item">
            <h2><a href="/blog_posts/blog_post2.html" target="_blank">What If Blog?</a></h2>
            <p class="date-time">Published on July 15, 2023</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
        </article>

    </div>
    <footer>
        {% include '_footer.html' %}
    </footer>

</body>
</html>
