<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coming Soon</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div id="coming-soon-container">
        <h1>This will be updated soon!</h1>
        <p>Developer: Indrajit Ghosh</p>
        <p>Contact: indrajitghosh912@gmail.com</p>
        <p><a href="/">Return to homepage</a></p> <!-- Add this line -->
    </div>
</body>
</html>
