<!-- app/templates/cv.html -->

<!DOCTYPE html>
<html>
    <head>
        <title>Indrajit - CV</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/cv_style.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- The follwoing is for displaying LaTeX code outputs -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML"></script>
        
        <!-- The follwoing is for displaying logos for github, fb, twitter etc -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js"></script>
    </head>

    <body>
        <div class="wrapper clearfix">
            <div class="left">
          
              <div class="name-hero">
          
                <div class="me-img"></div>
          
                <div class="name-text">
          
                  <h1>Indrajit <em>Ghosh</em></h1>
                  <p>8th Mile, Mysore Road,</p>
                  <p>RVCE Post, Bengaluru 560 069, India.</p>
                  <p>rs_math1902@isibang.ac.in</p>
                  <p>+91 9564-957618</p>
                  <p>
                    <a href="https://github.com/indrajit912" target="_blank"><i class="fab fa-github"></i></a> |
                    <a href="https://fb.com/indrajitghosh912" target="_blank"><i class="fab fa-facebook"></i></a> |
                    <a href="https://twitter.com/Meself_Indrajit" target="_blank"><i class="fab fa-twitter"></i></a> |
                    <a href="https://instagram.com/indrajitghosh912" target="_blank"><i class="fab fa-instagram"></i></a> 
                  </p>
          
                </div>
          
              </div>
          
            </div>

            <div class="right">
          
              <div class="inner">

                <section>
                  <h1>Education</h1>
                  <p>Jul 2021 - Present <em>| Senior Research Fellow | </em>Stat-Math Unit, Indian Statistical Institute Bangalore </p>
                  
                  <br>

                  <p>Jul 2019 - Jul 2021 <em>| Junior Research Fellow | </em>Stat-Math Unit, Indian Statistical Institute Bangalore</p>
                  
                  <br>

                  <p>2016 - 2018 <em>| MSc in Pure Mathematics | </em>Dept. Of Pure Mathematics, University of Calcutta</p>
                  
                  <br>

                  <p>2013 - 2016 <em>| BSc (Hons.) in Mathematics | </em>Barasat Govt. College, West Bengal State University</p>
                </section>

                <section>
                  <h1>Research Interests</h1>
                  <p><em>Operator Algebras | </em>von-Neumann Algebras, Type \(II_1\) Factors, \(C^*\)-Algebras | <em>Operator Theory</em> | <em>Topology</em></p>
                </section>

                <section>
                    <h1>Fellowships and Achievements</h1>
                    <p> <em> NBHM PhD fellowship | </em>  Dept. Of Atomic Energy, Govt. of India | 2019 Ref No. 0203/11/2019-R&D-II/9261.</p>
                    <p><em> Selected as JRF | </em> at Indian Statistical Institute | 2019</p>
                    <p><em> Selected as JRF | </em> at IIT Madras, India | 2019</p>
                    <p><em> Selected as JRF | </em> at IISER Bhopal, India | 2019</p>
                    <p><em> Qualified GATE | </em> in Mathematics (MA) | 2019</p>
                    <p><em> Joint CSIR-UGC NET JRF fellowship | </em> Govt. Of India | Dec 2018</p>
                </section>

                <section>
                  <h1>Contributed Talks</h1>
                  <p>Nov 27 - 30, 2023<em> | 
                    <a href="https://sites.google.com/view/icsat-23/" target="_blank">International Conference on Spectral and Approximation Theory</a> | 
                    Cochin University of Science and Technology, Kerala, India </em> | Place: Dept. of Math, Cochin University of Science And Technology
                  </p>
                </section>

                <section>
                  <h1>Projects and Other Activities</h1>

                  <p>Jan - May, 2021<em> | 
                    Directed Reading Project on Operator Algebras | 
                    Indian Statistical Institute, Bangalore, India </em> | Supervisor: Soumyashant Nayak | Topics Studied: \(C^*\)-Algebras, States and Representations, SOT and WOT on \(\mathcal{B}(\mathcal{H})\), von-Neumann Algebras
                  </p>

                  <br>

                  <p>Sep, 2020<em> | 
                    Graduate Course Work: Operator Theory | 
                    Indian Statistical Institute, Bangalore, India </em> | Supervisor: Prof. Rajaram Bhat | Topics Studied: Locally Convex Spaces, Operators on Hilbert Spaces, Banach Algebras, Basic \(C^*\)-Algerbra Theory
                  </p>

                </section>

                <section>
                  <h1>Conferences and Workshops Attended</h1>

                  <p>Nov 27 - 30, 2023<em> | 
                    <a href="https://sites.google.com/view/icsat-23/" target="_blank">International Conference on Spectral and Approximation Theory</a> | 
                    Cochin University of Science and Technology, Kerala, India </em> | Place: Dept. of Math, Cochin University of Science And Technology
                  </p>

                  <br>

                  <p>Jan 18 - Apr 26, 2023<em> | 
                    <a href="https://www.isibang.ac.in/~soumyashant/teaching/MODULAR_THEORY-EVEN2023/CourseWebpage.html" target="_blank">Tomita-Takesaki Modular Theory</a> | 
                    Indian Statistical Institute, Bangalore, India </em> | Instructure:  Soumyashant Nayak
                  </p>

                  <br>

                  <p>Feb 21 - 25, 2023<em> | 
                    <a href="https://sites.google.com/view/cfart-2023-iitb/" target="_blank">Conference on Functional Analysis and Related Topics-2023</a> | 
                    Indian Institute of Technology Bombay, India </em> | Place: Victor Menezes Convention Centre(VMCC), IIT Bombay
                  </p>

                  <br>

                  <p>Dec 05 - 16, 2022<em> | 
                    <a href="https://www.icts.res.in/program/ETDS2022" target="_blank">Ergodic Theory and Dynamical Systems</a> | 
                    International Centre for Theoretical Sciences, Bangalore, India </em> | Place: Ramanujan Lecture Hall (ICTS) and Online
                  </p>

                  <br>

                  <p>Aug 29 - Sep 02, 2022<em> | 
                    <a href="https://www.impan.pl/en/activities/banach-center/conferences/22-babysteps" target="_blank">Baby Steps Beyond the Horizon - school for students</a> | 
                    Institute of Mathematics Polish Academy of Sciences, Warszawa, Poland </em> | Place: Online
                  </p>

                  <br>

                  <p>Aug 04 - 06, 2022<em> | 
                    <a href="https://www.niser.ac.in/etvna/" target="_blank">A Conference on Ergodic Theory and von-Neumann Algebra</a> | 
                    National Institute of Science Education and Research, Odisha, India </em> | Place: Online
                  </p>

                  <br>

                  <p>Jun 01 - 12, 2022<em> | 
                    <a href="https://ifcam.sciencesconf.org/" target="_blank">IFCAM Summer School - Mathematical Aspects of Quantum Mechanics</a> | 
                    Indian Institute of Science, Bangalore, India </em> | Place: Math Dept., IISc
                  </p>

                  <br>

                  <p>May, 2022<em> | 
                    <a href="https://www.atmschools.org/school/2022/AIS/ala" target="_blank">Advanced Instructional School - Advanced Linear Algebra</a> | 
                    Indian Statistical Institute, Bangalore, India </em> | Place: Stat-Math Unit, ISI
                  </p>

                  <br>

                  <p>Jan 17 - 20, 2022<em> | 
                    <a href="https://www.isibang.ac.in/~statmath/conferences/QPIDA-2022.html" target="_blank">Conference on Quantum Probability and Infinite Dimensional Analysis</a> | 
                    Indian Statistical Institute, Bangalore, India </em> | Place: Stat-Math Unit, ISI
                  </p>

                  <br>

                  <p>Nov 2021<em> | 
                    <a href="https://drive.google.com/file/d/1FYd-6j_hwOMfc2Z9NIQiv2ZqSnF859J4/view" target="_blank">IWM Mini Course on Approximate Solutions of Operator Equations and Eigenvalue Prob-
                      lems</a> | 
                    Organiser: <a href="https://sites.google.com/site/iwmmath/">Indian Women and Mathematics</a> </em> | Place: Online
                  </p>

                  <br>

                  <p>Sep, 2020<em> | 
                    Online Workshop on Algebraic Number Theory | 
                    Assam University, Assam, India </em> | Place: Online
                  </p>

                </section>

                <section>
                  <h1>Teaching Experiences</h1>

                    <p>Aug 01 - Nov 25, 2023 <em>| Teaching Assistant, Indian Statistical Institute |</em> 
                      <a href="teaching/isibc/anal_several_vars_odd_2023.html" target="_blank">Analysis of Several Variables (B. Math II)</a>
                      <em>| Instructure:</em>  Mathew Joseph
                    </p>
                    
                    <br>

                    <p>Aug 2022 - Nov 2022 <em>| Teaching Assistant, Indian Statistical Institute |</em> 
                      <a href="teaching/isibc/comp_anal_odd_sem_2022.html" target="_blank">Complex Analysis I (B. Math III)</a>
                      <em>| Instructure:</em>  Mathew Joseph
                    </p>

                    <br>

                    <p>Jan 2022 - Apr 2022 <em>| Teaching Assistant, Indian Statistical Institute |</em> 
                      <a href="teaching/isibc/func_anal_even_sem_2021.html" target="_blank">Functional Analysis (M. Math I)</a>
                      <em>| Instructure:</em>  Soumyashant Nayak
                    </p>

                    <br>

                    <p>Sep 21 - Dec 23, 2021 <em>| Teaching Assistant, Indian Statistical Institute |</em> 
                      <a href="teaching/isibc/optimization_odd_sem_2021.html" target="_blank">Optimization (B. Math II)</a>
                      <em>| Instructure:</em>  Soumyashant Nayak
                    </p>
                </section>

                <section>
                  <h1>Technical Skills</h1>
                  <ul class="skill-set">
                    <li>Python</li>
                    <li>C</li>
                    <li>LaTeX</li>
                    <li>HTML</li>
                    <li>MySQL</li>
                  </ul>
                </section>

                <section>
                  <h1>References</h1>
                  <p>Dr. Soumyashant Nayak | <em>SMU, Indian Statistical Institute Bangalore | Assistant Professor</em></p>
                  <p>Office: A-14 | soumyashant@isibang.ac.com</p>
                  
                  <br>

                  <p>Dr. Atasi Deb Ray | <em>Dept. Of Pure Math, University of Calcutta | Associate Professor</em></p>
                  <p>Kolkata | adrpm@caluniv.ac.in</p>
                  
                  <br>

                  <p>Dr. Nisith Chandra Das | <em>Dept. Of Math, Barasat Govt. College | HOD, Associate Professor</em></p>
                  <p>(+91) 9830-156147 | dasnisith@gmail.com</p>
                </section>

                <section>
                  <h1>Personal Interests</h1>
                  <ul class="skill-set">
                    <li>Reading</li>
                    <li>Collecting Books</li>
                    <li>Badminton</li>
                    <li>Table Tennis</li>
                    <li>Playing Guitar</li>
                  </ul>
                </section>

              </div>
          
            </div>
          
          </div>

        <!-- MathJax congigauration -->
        <script type="text/x-mathjax-config">
          MathJax.Hub.Config({
              tex2jax: {
                  inlineMath: [ ['\\(','\\)'] ],
                  displayMath: [ ['$$','$$'], ['\\[','\\]'] ],
                  processEscapes: true,
                  processClass: "mathjax"
              }
          });
        </script>

    </body>
</html>

