<!DOCTYPE html>
<html>
    <head>
        <title>Indrajit - CV</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/cv_style.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <div class="wrapper clearfix">
            <div class="left">
          
              <div class="name-hero">
          
                <div class="me-img"></div>
          
                <div class="name-text">
          
                  <h1>Indrajit <em>Ghosh</em></h1>
                  <p>8th Mile, Mysore Road,</p>
                  <p>RVCE Post, Bengaluru 560 069, India.</p>
                  <p>rs_math1902@isibang.ac.in</p>
                  <p>+91 9564-957618</p>
          
                </div>
          
              </div>
          
            </div>

            <div class="right">
          
              <div class="inner">

                <section>
                  <h1>Education</h1>
                  <p>Jul 2021 - Present <em>Theoretical Statistics and Mathematics Unit, Indian Statistical Institute Bangalore | Senior Research Fellow</em></p>
                  <p>Jul 2019 - Jul 2021<em>Theoretical Statistics and Mathematics Unit, Indian Statistical Institute Bangalore | Junior Research Fellow</em></p>
                </section>

                <section>
                    <h1>Fellowships and Achievements</h1>
                    <p> <em> NBHM PhD fellowship | </em>  Dept. Of Atomic Energy, Govt. of India | 2019 Ref No. 0203/11/2019-R&D-II/9261.</p>
                    <p><em> Joint CSIR-UGC NET JRF fellowship | </em> Govt. Of India | Dec 2018</p>
                </section>

                <section>
                  <h1>Technical Skills</h1>
                  <ul class="skill-set">
                    <li>Python</li>
                    <li>C</li>
                    <li>LaTeX</li>
                    <li>HTML</li>
                    <li>SQL</li>
                  </ul>
                </section>

                <section>
                  <h1>References</h1>
                  <p>Dr. Soumyashant Nayak | <em>SMU, Indian Statistical Institute Bangalore | Assistant Professor</em></p>
                  <p>Office: A-14 | soumyashant@isibang.ac.com</p>
                  <p>Dr. Atasi Deb Ray | <em>Dept. Of Pure Math, University of Calcutta | Associate Professor</em></p>
                  <p>Kolkata | adrpm@caluniv.ac.in</p>
                  <p>Dr. Nisith Chandra Das | <em>Dept. Of Math, Barasat Govt. College | HOD, Associate Professor</em></p>
                  <p>(+91) 9830-156147 | dasnisith@gmail.com</p>
                </section>

                <section>
                  <h1>Personal Interests</h1>
                  <ul class="skill-set">
                    <li>Reading</li>
                    <li>Collecting Books</li>
                    <li>Badminton</li>
                    <li>Table Tennis</li>
                    <li>Playing Guitar</li>
                  </ul>
                </section>

              </div>
          
            </div>
          
          </div>
    </body>
</html>

