<!--
Index Page Template

This HTML template defines the structure and content of the index page for the Flask web application.

Template Variables:
    None

Template Blocks:
    content: This block can be extended by child templates to provide specific content.

-->

<!DOCTYPE html>
<html>
<head>
    <title>Home - Indrajit Ghosh</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <style>
        /* Add CSS styles for the image */
        .profile-image {
            max-width: 35mm;
            max-height: 45mm;
            width: auto;
            height: auto;
        }
    </style>
</head>
<body>

<div id="header">
    <h1>Welcome to my Website!</h1>
</div>

<div id="content">
    {% block content %}
    <h2>About Me</h2>
    <img src="{{ url_for('static', filename='images/profile.jpg') }}" alt="Indrajit Ghosh" class="profile-image">
    <p>
        I am a Senior Research Fellow in the Theoretical Statistics and Mathematics Unit (SMU)
        of the Indian Statistical Institute, Bangalore Centre. I am working under the guidance
        of <a href="https://www.isibang.ac.in/~soumyashant/">Dr. Soumyashant Nayak</a>.
    </p>
    <p>
        Current Office Address:<br>
        Office: S6, Academic Building,<br>
        Indian Statistical Institute,<br>
        8th Mile Mysore Road, RVCE Post,<br>
        Bengaluru 650 059, India
    </p>
    <p>
        You can have a look at my CV <a href="link_to_your_cv.pdf">here</a>.
    </p>
    {% endblock %}
</div>

<div id="footer">
    <p>&copy; 2023 Indrajit Ghosh. All rights reserved.</p>
    <p>Contact: indrajitghosh912@gmail.com</p>
    <p>Follow me on: 
        <a href="https://twitter.com/Meself_Indrajit">Twitter</a>
        <a href="https://github.com/indrajit912">GitHub</a>
        <a href="https://fb.com/indrajitghosh912">Facebook</a>
    </p>
</div>

</body>
</html>
