{% extends 'base.html' %}

{% block title %}Indrajit - Misc{% endblock %}
 
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sticky_style.css') }}">
{% endblock %}

{% block content %}

<div class="container">
    <!-- <h2 class="center">LaTeX Templates</h2> -->
    
    <article class="episode">
      <div class="episode__number">01</div>
      <div class="episode__content">
        <div class="title">ISI PhD Registration Form</div>
        <div class="story">
          <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.          </p>
        </div>
      </div>
    </article>

    <article class="episode">
      <div class="episode__number">02</div>
      <div class="episode__content">
        <div class="title">LaTeX Template for AMSart</div>
        <div class="story">
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis         </div>
      </div>
    </article>

</div>

{% endblock %}
