<!DOCTYPE haml>
<html>
<head>
    <title>Indrajit - Photos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/collage_style.css') }}">
</head>
<body>

    {% include '_header.html' %}

    <div class="grid">
        <div class="grid--item">
            <div class="img" style="background-image: url(static/images/indrajit/photo1.jpg);"></div>
            <div class="container">
                <h2>Indrajit</h2>
                <div class="desc">Selfi, in ISI Office</div>
            </div>
        </div>
              
        <div class="grid--item">
            <div class="img" style="background-image: url(static/images/indrajit/photo2.jpg);"></div>
            <div class="container">
                <h2>Indrajit</h2>
                <div class="desc">Photo by Sneha Bharti</div>
            </div>
        </div>

        <div class="grid--item">
            <div class="img" style="background-image: url(static/images/indrajit/photo_sob.jpg);"></div>
            <div class="container">
                <h2>Indrajit</h2>
                <div class="desc">In the Restaurant Secrets of Bangalore</div>
            </div>
        </div>

        <div class="grid--item">
            <div class="img" style="background-image: url(static/images/indra_library/books.jpg);"></div>
            <div class="container">
                <h2>Book Shelf</h2>
                <div class="desc">Personal book shelf in my ISI Hostel</div>
            </div>
        </div>

        <div class="grid--item">
            <div class="img" style="background-image: url(static/images/indrajit/photo_near_dqtrs.jpg);"></div>
            <div class="container">
                <h2>Indrajit</h2>
                <div class="desc">Photo by Sneha Bharti</div>
            </div>
        </div>

        <div class="grid--item">
            <div class="img" style="background-image: url(static/images/indrajit/photo_with_cat.jpg);"></div>
            <div class="container">
                <h2>Indrajit With Cat</h2>
                <div class="desc">Captured using my Sneha Bharti</div>
            </div>
        </div>

        <div class="grid--item">
            <div class="img" style="background-image: url(static/images/indrajit/isi_office_pic.jpg);"></div>
            <div class="container">
                <h2>Indrajit</h2>
                <div class="desc">Captured by me using Apple Watch in ISI Office</div>
            </div>
        </div>

        <div class="grid--item">
            <div class="img" style="background-image: url(static/images/indrajit/photo_bookfair.jpg);"></div>
            <div class="container">
                <h2>Indrajit</h2>
                <div class="desc">Captured by Sneha Bharti</div>
            </div>
        </div>

        <div class="grid--item">
            <div class="img" style="background-image: url(static/images/indrajit/photo_sob_staircase.jpg);"></div>
            <div class="container">
                <h2>Indrajit</h2>
                <div class="desc">Captured by Geetika Barman</div>
            </div>
        </div>

        <div class="grid--item">
            <div class="img" style="background-image: url(static/images/indra_library/indra_with_books.jpg);"></div>
            <div class="container">
                <h2>Indrajit With Book</h2>
                <div class="desc">Captured using my Apple Watch</div>
            </div>
        </div>

    </div>
</body>
</html>
