{% extends 'base.html' %}

{% block title %}Indrajit Ghosh - Photos{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/photo_style.css') }}">
{% endblock %}

{% block content %}

<div class="gallery">
    
    <div class="photo-list">
        <ul>
            <li>
                <a href="">
                    <figure>
                        <img src="{{ url_for('static', filename='images/indrajit/photo1.jpg') }}" alt='Volcano and lava field against a stormy sky'>
                        <figcaption>Mountains and volcanos</figcaption>
                    </figure>
                </a>
            </li>
            <li>
                <a href="">
                    <figure>
                        <img src="{{ url_for('static', filename='images/indrajit/photo2.jpg') }}" alt='Guy on a bike ok a wooden bridge with a forest backdrop'>
                        <figcaption>Adventure getaways</figcaption>
                    </figure>
                </a>
            </li>
            <li>
                <a href="">
                    <figure>
                        <img src="{{ url_for('static', filename='images/indrajit/photo_sob.jpg') }}" alt='Person standing alone in a misty forest'>
                        <figcaption>Forest escapes</figcaption>
                    </figure>
                </a>
            </li>
            <li>
                <a href="">
                    <figure>
                        <img src="{{ url_for('static', filename='images/indra_library/books.jpg') }}" alt='Person hiking on a trail through mountains while taking a photo with phone'>
                        <figcaption>Hiking trails</figcaption>
                    </figure>
                </a>
            </li>
            <li>
                <a href="">
                    <figure>
                        <img src="{{ url_for('static', filename='images/indrajit/photo_near_dqtrs.jpg') }}" alt='Street scene with person walking and others on motorbikes, all wearing masks'>
                        <figcaption>Street scenes</figcaption>
                    </figure>
                </a>
            </li>
            <li>
                <a href="">
                    <figure>
                        <img src="{{ url_for('static', filename='images/indrajit/photo_with_cat.jpg') }}" alt='Fashionable-looking girl with blond hair and pink sunglasses'>
                        <figcaption>Trending</figcaption>
                    </figure>
                </a>
            </li>
        </ul>
    </div>

</div>


{% endblock %}