{% extends 'base.html' %}

{% block title %}Indrajit Ghosh - Photos{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/photo_style.css') }}">
{% endblock %}

{% block content %}

<div class="gallery">
    
    <div class="photo-list">
        <ul>
            <li>
                <a href="">
                    <figure>
                        <img src="{{ url_for('static', filename='images/indrajit/photo1.jpg') }}" alt='Indrajit writing on whiteboard'>
                        <figcaption>Selfi in ISI Office</figcaption>
                    </figure>
                </a>
            </li>
            <li>
                <a href="">
                    <figure>
                        <img src="{{ url_for('static', filename='images/indrajit/photo2.jpg') }}" alt='Indrajit in front of ISI Academic building'>
                        <figcaption>Photo taken by Sneha Bharti</figcaption>
                    </figure>
                </a>
            </li>
            <li>
                <a href="">
                    <figure>
                        <img src="{{ url_for('static', filename='images/indrajit/photo_sob.jpg') }}" alt='Indrajit in a restaurant' loading="lazy">
                        <figcaption>At a restaurant in Bangalore</figcaption>
                    </figure>
                </a>
            </li>
            <li>
                <a href="">
                    <figure>
                        <img src="{{ url_for('static', filename='images/indra_library/books.jpg') }}" alt='Indrajits ISI Bookshelf' loading="lazy">
                        <figcaption>My book shelf at ISI</figcaption>
                    </figure>
                </a>
            </li>
            <li>
                <a href="">
                    <figure>
                        <img src="{{ url_for('static', filename='images/indrajit/photo_near_dqtrs.jpg') }}" alt='Indrajit in ISI Campus' loading="lazy">
                        <figcaption>Near D Qtrs, ISI Campus. Captured by Sneha Bharti</figcaption>
                    </figure>
                </a>
            </li>
            <li>
                <a href="">
                    <figure>
                        <img src="{{ url_for('static', filename='images/indrajit/photo_with_cat.jpg') }}" alt='Indrajit in ISI Campus' loading="lazy">
                        <figcaption>Near Worker's Canteen, ISI. Taken by Sneha Bharti</figcaption>
                    </figure>
                </a>
            </li>
        </ul>
    </div>

</div>


{% endblock %}