<!-- 
    Research page for the Website
    Author: Indrajit Ghosh
    Created On: Nov 14, 2023
 -->

{% extends 'base.html' %}

{% block title %}Indrajit Ghosh - Research{% endblock %}

{% block meta_tags %}
    {{ super() }}
    <meta name="keywords" content="stat-math unit ISI, mathematics research, operator algebra, von Neumann algebra, C*-algebra, type II_1 infty, ISI Bangalore">
{% endblock %}
 
{% block styles %}
     {{ super() }}
     <link rel="stylesheet" href="{{ url_for('static', filename='css/research_style.css') }}">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
{% endblock %} 
 
{% block content %}
 <div class="content">
    <div class="research-content">

        <h1 class="research-heading">Research Interests</h1>

            <p class="research-text">
                My primary focus revolves around Operator Algebras, encompassing a particular fascination with von-Neumann algebras. Currently pursuing my graduate studies within the Stat-Math Unit at the Indian Statistical Institute in Bangalore, India, my research efforts are channeled into two primary avenues:
                <ul>
                    <li>
                        Exploring the Algebraic Aspects and Functoriality of Affiliated Operators associated to von-Neumann algebras.
                    </li>

                    <li>
                        Investigating Matrix Decomposition Outcomes within the scope of General von-Neumann Algebras.
                    </li>   
                </ul>
            </p>


        <!-- Functoriality of Affiliated Operators -->
        <h2 class="research-heading">Algebraic Aspects and Functoriality of The Set of Affiliated Operators</h2>

            <p class="research-text">
                In our recent collaborative paper with <a href="https://www.isibang.ac.in/~soumyashant/" target="_blank">Dr. Soumyashant Nayak</a>, we have developed a comprehensive algebraic framework aimed at enhancing our understanding of the set of affiliated operators within von Neumann algebras. This framework draws a parallel with the characterization of Murray-von Neumann algebras as specific Ore localizations of finite von Neumann algebras. Our primary objective in this study is to meticulously scrutinize the concept of affiliated operators in von Neumann algebras and elucidate how they should undergo transformations when subjected to morphisms, particularly unital normal homomorphisms, between von Neumann algebras.
            </p>
        

            <p class="research-text">
                For a von Neumann algebra \(\mathscr{M}\), acting on a Hilbert space \(\mathcal{H}\), we define \(\mathscr{M}_{\text{aff}}\) as the set of unbounded operators in the form of \(T = AB^{\dagger}\), where \(A, B\in \mathscr{M}\) satisfying \(\text{null} (B)\subseteq \text{null} (A)\), with \((\cdot)^{\dagger}\) representing the Kaufman inverse. This paper establishes that \(\mathscr{M}_{\text{aff}}\) exhibits closure under various algebraic operations, including product, sum, and adjoint. Furthermore, the representation of an operator in \(\mathscr{M}_{\text{aff}}\) is essentially unique, allowing us to view it as the multiplicative monoid of unbounded operators on \(\mathcal{H}\), generated by \(\mathscr{M}\) and \(\mathscr{M} ^{\dagger}\).
            </p>

            <p class="research-text">
                Notably, we demonstrate that our definition of affiliated operators encompasses the conventional one. In particular, every closed affiliated operator in the classical sense, as defined by Murray and von Neumann, can be found within \(\mathscr{M}_{\text{aff}}\). Our primary objective in this study is to emphasize the conceptual and technical simplifications afforded by this novel definition.
            </p>

            <p class="research-text">
              We also explore the implications of a unital normal homomorphism, denoted as \(\Phi\), between represented von Neumann algebras, \((\mathscr{M}; \mathcal{H})\) and \((\mathscr{N}; \mathcal{K})\). Leveraging the quotient representation, we establish a canonical extension of \(\Phi\) to a monoid homomorphism, \(\Phi_{\text{aff}} : \mathscr{M_{\text{aff}}} \to \mathscr{N_{\text{aff}}}\). This extended homomorphism naturally preserves both sum and adjoint operations. Importantly, we observe that for any closed (pre-closed, or densely-defined respectively) operator \(T\) in \(\mathscr{M_{\text{aff}}},\ \Phi_{\text{aff}}(T)\) is again closed (pre-closed, or densely-defined respectively) operator in \(\mathscr{N_{\text{aff}}}\). Consequently, it preserves the Murray-von Neumann affiliated operators, their strong-sums, and strong-products.
            </p>

            <p class="research-text">
              Our work illuminates the intrinsic connection between \(\mathscr{M}\) and \(\mathscr{M_{\text{aff}}}\), and how it transforms in a functorial manner as we change representations of \(\mathscr{M}\). Additionally, we find that \(\Phi_{\text{aff}}\) preserves essential operator properties, including symmetry, self-adjointness, accretiveness, sectoriality, and more. It also upholds the integrity of Friedrichs and Krein-von Neumann extensions of closed positive symmetric operators.
            </p>
        
        <!-- Matrix Decomposition -->
        <h2 class="research-heading">Matrix Decomposition Results in \(M_n(\mathscr{R})\)</h2>

            <p class="research-text">
                It is well known that any normal matrix in \(M_n(\mathbb{C})\) can be unitarily "diagonalized", that is, there is a unitary matrix \(U\) such that \(U A U^{-1}\) is diagonal. For a \(C^*\)-algebra \(\mathfrak{A}\), the ring of \(n \times n\) matrices over \(\mathfrak{A}\), \(M_n(\mathfrak{A})\), naturally has the structure of a \(C^*\)-algebra. For a von Neumann algebra \(\mathscr{R}\), \(M_n(\mathscr{R})\) is a von Neumann algebra. In <cite><a href="#kad_diag">[2]</a></cite>, R. V. Kadison proved that each normal element in \(M_n(\mathscr{R})\) can be diagonalized via conjugation with a unitary matrix in \(M_n(\mathscr{R})\). Furthermore, using basic homotopy theoretic techniques, he showed that this is not true in general in the context of  \(M_2(C(\mathbb{S}^4))\) where \(\mathbb{S}^4\) denotes the 4-sphere, and \(C(\mathbb{S}^4)\) is the \(C^*\)-algebra of complex-valued continuous functions on \(\mathbb{S}^4\).
            </p>

            <p class="research-text">
                In response to one of the questions posed by R. V. Kadison, in <cite><a href="#grove_ped">[1]</a></cite>, K. Grove and G. Pedersen provided a complete topological characterization of those compact Hausdorff spaces \(X\) for which every normal matrix in \(M_n(C(X))\) is diagonalizable (for all \(n \in \mathbb{N}\)).
            </p>
            <p class="research-text">
                I have two main interests:
            </p>
            <ol class="research-text">
                <li>
                    <strong>Other Decomposition Results</strong>
                    <p>
                        I'm interested in exploring other decomposition results over \(M_n(C(X))\), such as QR decomposition or polar decomposition. Interestingly, I've discovered that the Polar Decomposition holds over \(C(X)\) whenever \(X\) is a (sub)-Stonean space.
                    </p>
                </li>
                <li>
                    <strong>Decomposition over Type \(II_1\) Factor</strong>
                    <p>
                        I'm investigating decomposition results over a Type \(II_1\) factor and their implications.
                    </p>
                </li>
            </ol>

            <!-- References -->
            <div class="reference-heading">
                References
            </div>
            <ol class="references">
                <li id="grove_ped">
                    <p>
                        Grove, Karsten and Pedersen, Gert Kj&#230;rg&#229;rd,
                        <cite>"<a href="https://doi.org/10.1016/0022-1236(84)90053-3">Diagonalizing matrices over \(C(X)\)</a>"</cite>,
                        Journal of Functional Analysis 59 (1984): 65-89.
                    </p>
                </li>
                <li id="kad_diag">
                    <p>
                        Kadison, Richard V., 
                        <cite>"<a href="https://www.jstor.org/stable/2374397">Diagonalizing Matrices</a>"</cite> ,
                        American Journal of Mathematics 106 (1984): 1451-1468.
                    </p>
                </li>
            </ol>
    </div>
</div>

{% endblock %}
  