<!-- 
    Teaching page for the Website
    Author: Indrajit Ghosh
    Created On: Nov 14, 2023
 -->

{% extends 'base.html' %}

{% block title %}Indrajit - Teaching{% endblock %}
 
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/teaching_style.css') }}">
{% endblock %}

 
{% block content %}
 <div class="content">
    <div class="teaching-content">
        <p>Below, you'll find a list of mathematics courses I assisted in as a graduate student in the Stat-Math Unit at the Indian Statistical Institute, Bangalore.</p>
        <b>Teaching Assistantship</b>
        <ul>
            <li>
                <a href="/teaching/isibc/anal_several_vars_odd_2023.html">
                    <span class="underlined-link">Analysis of Several Variables (BMAT2)</span>, Odd Sem 2023 (Currently Teaching)
                </a></li>
            <li>
                <a href="/teaching/isibc/comp_anal_odd_sem_2022.html">
                    <span class="underlined-link">Complex Analysis I (BMAT3)</span>, Odd Sem 2022-23
                </a></li>
            <li>
                <a href="/teaching/isibc/func_anal_even_sem_2021.html">
                    <span class="underlined-link">Functional Analysis (MMAT1)</span>, Even Semester 2021-22
                </a></li>
            <li>
                <a href="/teaching/isibc/optimization_odd_sem_2021.html" >
                    <span class="underlined-link">Optimization (BMAT2)</span>, Odd Semester 2021
                </a></li>
        </ul>
    </div>
</div>

{% endblock %}
 
