<!-- 
    Teaching page for the Website
    Author: Indrajit Ghosh
    Created On: Nov 14, 2023
 -->
{% extends 'base.html' %}

{% block title %}Indrajit Ghosh - Teaching{% endblock %}

{% block meta_tags %}
  {{ super() }}
  <meta name="keywords" content="smu, indrajit ghosh, teaching, mathematics, bmath, mmath, ISI Bangalore">
{% endblock %}

  
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/teaching_style.css') }}">
{% endblock %}
 
{% block content %}

<div class="teaching-container">
  <h2 class="teaching-heading">Teaching Assistantship at ISI</h2>
  
  <article class="course">
    <div class="course__number">04</div>
    <div class="course__content">
      <div class="course-title">Analysis of Several Variables (BMAT2)</div>
      <div class="course-details">
        <p class="course-info">Instructor: Mathew Joseph</p>
        <p class="course-info">TA: Indrajit Ghosh</p>
        <p class="course-info">Duration: Aug 01, 2023 - Present</p>
        <a class="course-link" href="/teaching/isibc/anal_several_vars_odd_2023.html">Course Webpage</a>
      </div>
    </div>
  </article>
  
  <article class="course">
      <div class="course__number">03</div>
      <div class="course__content">
        <div class="course-title">Complex Analysis I (BMAT3)</div>
        <div class="course-details">
          <p class="course-info">Instructor: Mathew Joseph</p>
          <p class="course-info">TA: Indrajit Ghosh</p>
          <p class="course-info">Duration: Aug 2022 - Nov 2022</p>
          <a class="course-link" href="/teaching/isibc/comp_anal_odd_sem_2022.html">Course Webpage</a>
        </div>
      </div>
  </article>

  <article class="course">
      <div class="course__number">02</div>
      <div class="course__content">
        <div class="course-title">Functional Analysis (MMAT1)</div>
        <div class="course-details">
          <p class="course-info">Instructor: Soumyashant Nayak</p>
          <p class="course-info">TA: Indrajit Ghosh</p>
          <p class="course-info">Duration: Jan 18 - Apr 28, 2022</p>
          <a class="course-link" href="/teaching/isibc/func_anal_even_sem_2021.html">Course Webpage</a>
        </div>
      </div>
  </article>

  <article class="course">
      <div class="course__number">01</div>
      <div class="course__content">
        <div class="course-title">Optimization (BMAT2)</div>
        <div class="course-details">
          <p class="course-info">Instructor: Soumyashant Nayak</p>
          <p class="course-info">TA: Indrajit Ghosh</p>
          <p class="course-info">Duration: Sep 21 - Dec 23, 2021</p>
          <a class="course-link" href="/teaching/isibc/optimization_odd_sem_2021.html">Course Webpage</a>
        </div>
      </div>
  </article>

</div>
 
{% endblock %}
 