<!-- templates/thank_you.html -->
<!DOCTYPE html>
<html>
    <head>
        <title>Thank You!</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            h1 {
                color: #FF595A;
            }
        </style>
    </head>
    <body>
        <div id="header">
            <h1 class="large-text">Thank You!</h1>
            <p>Your message has been received.</p>
        </div>

        <div id="content" class="about-me">
            <p class="title">We appreciate your interest and will get back to you as soon as possible.</p>
        </div>

        <div class="footer-basic">
            <ul>
                <li><a href="/">Go back to home</a></li>
            </ul>
        </div>
    </body>
</html>
