<!DOCTYPE html>
<html>
<head>
    <title>Timeline - Indrajit</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/timeline_style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

    {% include '_header.html' %}

    <ul>
        <li style="--accent-color:#41516C">
            <div class="date">2013</div>
            <div class="title">Higher Secondary Education</div>
            <div class="descr">
                Successfully completed my Higher Secondary Examination from Dakshin Chatra High School in West Bengal, India.
            </div>
        </li>
        <li style="--accent-color:#FBCA3E">
            <div class="date">2016</div>
            <div class="title">Undergraduate Studies</div>
            <div class="descr">
                Attained a Bachelor's degree with Honors in Mathematics from West Bengal State University in West Bengal, India.
            </div>
        </li>
        <li style="--accent-color:#E24A68">
            <div class="date">2018</div>
            <div class="title">Postgraduate Studies</div>
            <div class="descr">
                Successfully completed my Master's degree in Pure Mathematics from the Department of Pure Mathematics at the University of Calcutta, Kolkata, India.
            </div>
        </li>
        <li style="--accent-color:#1B5F8C">
            <div class="date">2019</div>
            <div class="title">Graduate Studies and Research</div>
            <div class="descr">
                Embarked on my academic and research journey by joining the Theoretical Statistics and Mathematics Unit (SMU) at the Indian Statistical Institute (ISI) Bangalore as a Junior Research Fellow.
            </div>
        </li>
        <li style="--accent-color:#4CADAD">
            <div class="date">2021-Present</div>
            <div class="title">Senior Research Fellow</div>
            <div class="descr">
                Currently serving as a Senior Research Fellow within the SMU at ISI.
            </div>
        </li>
    </ul>
    
    
    {% include '_footer.html' %}

</body>
</html>
