<!DOCTYPE html>
<html>
<head>
    <title>Timeline</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/timeline_style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

    {% include '_header.html' %}

    <ul>
        <li style="--accent-color:#41516C">
            <div class="date">2013</div>
            <div class="title">Higher Secondary</div>
            <div class="descr">
                Passed Higher Secondary Exam from Dakshin Chatra High School, West Bengal, India.
            </div>
        </li>
        <li style="--accent-color:#FBCA3E">
            <div class="date">2016</div>
            <div class="title">Under Graduate</div>
            <div class="descr">
                Obtained the degree of BSc(Hons.) in Mathematics from West 
                Bengal State University, West Bengal, India.
            </div>
        </li>
        <li style="--accent-color:#E24A68">
            <div class="date">2018</div>
            <div class="title">Post Graduate</div>
            <div class="descr">
                Obtained the degree of MSc in Pure Mathematics from the Department of Pure Mathematics, 
                University of Calcutta, Kolkata, India.
            </div>
        </li>
        <li style="--accent-color:#1B5F8C">
            <div class="date">2019</div>
            <div class="title">Graduate Studies</div>
            <div class="descr">
                Joined the Theoretical Statistics and Mathematics Unit(SMU) at Indian Statistical Institute 
                Bangalore as a Junior Research Fellow.
            </div>
        </li>
        <li style="--accent-color:#4CADAD">
            <div class="date">2021-Present</div>
            <div class="title">Senior Research Fellow</div>
            <div class="descr">
                Working as a Senior Research Fellow at SMU, ISI.
            </div>
        </li>
    </ul>
    
    
    {% include '_footer.html' %}

</body>
</html>
